<head>

</head>


<body>
    <header>
        <div class="header-text">
            <p>犬服（犬用品）・猫用品の仕入れ・卸 専用サイトです。iDog＆iCatオリジナル商品500点以上を掲載。一般のお客様のご購入はご遠慮下さい。</p>
            <p>税込25,000円以上のご購入で送料無料!!</p>
        </div>
        <div class="header-img">
            <div id="header-img-left" >
                <%=link_to image_tag('logo2.gif',class: ""),"/#" %>
            </div>
            <div id="header-img-right">
                <%=link_to image_tag('top_how.gif',class: ""),"/#" %>
                <%=link_to image_tag('top_catalog.gif',class: ""),"/#" %>
                <%=link_to image_tag('merit_hdbn.gif',class: ""),"/#" %>
                <%=link_to image_tag('top_present.gif',class: ""),"/#" %>
            </div>
        </div>
        <div class="header-list">
            <div class="header-menus-left">
                <div class="header-menus">
                    <p>iDog & iCat とは</p>
                    <P>About iDog & iCat</p>
                </div>
                <div class="header-menus">
                    <p>お問い合わせ</p>
                    <P>inquiry</p>
                </div>
                <div class="header-menus">
                    <p>ノベルティ・OEM</p>
                    <P>Novelty Item & OEM</p>
                </div>
            </div>
            <div class="header-menus-right">
                <div id="header-menus-img">
                    <%=link_to image_tag('head_top.gif',class: ""),"/#" %>
                    <%=link_to image_tag('head_cart.gif',class: ""),"/#" %>
                    <%=link_to image_tag('head_how.gif',class: ""),"/#" %>
                    <%=link_to image_tag('head_gaiyou.gif',class: ""),"/#" %>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="carousel"></div>
        <div class="container">
            <div class="container-left">
                <div class="serch">
                    <div class="border">
                        <p>商品検索</p>
                    </div>
                    <div class="serch-btn">
                        <input type="serch" name="serch" placeholder="キーワードを入力" >
                        <input type="submit" name="submit" value="検索" >
                    </div>
                </div>
                <div class="login">
                    <div class="border">
                        <p>ログイン</p>
                    </div>
                    <ul class="list-style">
                        <li><%=link_to("ログイン","/#",) %></li>
                        <li><%=link_to("会員登録","/#",) %></li>
                        <li><%=link_to("パスワード再発行","/#",) %></li>
                    </ul>                    
                </div>
                <div class="pr-banner"></div>
                <div class="category"></div>
                <div class="pickup-img"></div>
                <div class="special-feature"></div>
                <div class="support"></div>
            </div>
            <div class="container-right">
                <div id="info">
                    <ul class="info">
                        <li>
                            <div class="square">
                                <p class="month">MAR</p>
                                <p class="day">10</p>
                                <p class="year">2021</p>
                            </div>
                            <div class="info-text">
                                <p class="color-black">■価格表示に関するご案内■</p>
                                <p>平素は格別のご高配を賜り厚く御礼申し上げます。<br>
                                商品の下げ札に記載の価格表示を【税抜】⇒【税込】表示へと変更いたします。<br>
                                新たに生産します分より【税込】表示となります為、<br>
                                納品時は既存商品の【税抜】表示と混在する場合がございます。<br>
                                お手数をおかけしますが、各店舗様にてご確認をお願い致します。<br>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="news"></div>
                <div class="pickup-clothes"></div>
                <div class="new-arrive"></div>
                <div class="hot-item"></div>
                <div class="ranking"></div>
                <div class="feature"></div>
                <div class="new-item"></div>
            </div>
        </div>
    </main>
    <div class="sub">
        <div class="sub-left"></div>
        <div class="sub-right"></div>
    </div>
    <footer>
    </footer>
</body>




